<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Travel Diary</title>
    <link rel="stylesheet" href="https://unpkg.com/leaflet@1.9.4/dist/leaflet.css" integrity="sha256-p4NxAoJBhIIN+hmNHrzRCf9tD/miZyoHS5obTRR9BMY=" crossorigin="" />
</head>
<body>
    <h1>Welcome to the Travel Diary!</h1>

    <div id="map" style="height: 800px; width: 70%"></div>

    <script src="https://unpkg.com/leaflet@1.9.4/dist/leaflet.js" integrity="sha256-20nQCchB9co0qIjJZRGuk2/Z9VM+kNiyxNV1lvTlZBo=" crossorigin=""></script>
    <script>
        // Initialise the map object
        let map = L.map('map',
                        {
                            center: [51.505, -0.09],
                            zoom: 13
                        });
        L.tileLayer('https://{s}.tile.openstreetmap.org/{z}/{x}/{y}.png').addTo(map);

        let marker = L.marker([51.505, -0.09]).addTo(map);
        marker.bindPopup('Example');

        let popup = L.popup();

        map.on('click', (e) => {
            popup.setLatLng(e.latlng)
                 .setContent('You clicked on the map! ' + e.latlng.toString())
                 .openOn(map);
        });

    </script>
</body>
</html>